---
title: Blog
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="container container--blog">
    <h1 class="title-h1 mob-hidden">Blog</h1>
    <div class="blog-main-slider js-blog-main-slider">
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 1">
          <div class="blog-main-slider__text">
            It Might Be More Affordable than You Think to Fly to Your Destination
          </div>
        </div>
      </div>
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 2">
        </div>
      </div>
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 3">
        </div>
      </div>
    </div>
    <p class="title-h1 mob-visible" hidden>Blog</p>
    <section class="latest">
      <h3 class="title-h3 blog-section-title">Latest articles</h3>
      <div class="latest__wrapper">
        <div class="latest__cards">
          <div class="latest-card latest-card--big" style="background-image: url('img/latest-1.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Shell unveils new sustainable aviation fuels (SAF) ambition
                </h3>
                <p class="latest-card__date">21 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Aircrafts</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card--big" style="background-image: url('img/latest-2.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Munich Airport’s brewery turns beer into a gin-style spirit
                </h3>
                <p class="latest-card__date">20 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Retail</div>
                <div class="tag">Spirit</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-3.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Star Alliance airlines step up biometric identity programmes
                </h3>
                <p class="latest-card__date">20 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-4.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Transforming KIX
                </h3>
                <p class="latest-card__date">19 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Airports</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-5.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Why the aviation industry cannot revert to its pre-pandemic ways
                </h3>
                <p class="latest-card__date">19 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">Thoughts</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="popular">
      <h3 class="title-h3 blog-section-title">Popular topics</h3>
      {% set simpleCards = [{
        title: 'COVID safety audit praises Aberdeen and Glasgow airports COVID safety audit praises Aberdeen and Glasgow airports COVID safety audit praises Aberdeen and Glasgow airports COVID safety audit praises Aberdeen and Glasgow airports',
        date: '21 September 2021'
      },
      {
        title: 'Helsinki’s “magnificent” new entrance to T2 to open on December',
        date: '19 September 2021'
      },
      {
        title: 'Helsinki’s “magnificent” new entrance to T2 to open on December Helsinki’s “magnificent” new entrance to T2 to open on December',
        date: '19 September 2021'
      },
      {
        title: 'Work starts on Phase 2 of Denver International Airport’s Great Hall',
        date: '18 September 2021'
      },
      {
        title: 'Stabilisation plan’ helped Queenstown Airport through last year',
        date: '18 September 2021'
      },
      {
        title: 'Splash of colour comes to Miami International Airport',
        date: '18 September 2021'
      },
      {
        title: 'Federal funding for Calgary’s runway rehabilitation project',
        date: '17 September 2021'
      },
      {
        title: 'Half year losses spell out harsh realities of life for Copenhagen Airports',
        date: '16 September 2021'
      }
      ] %}

      <div class="popular__wrapper">
        <div class="popular__news js-mob-slider">
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-1.jpg" alt="news-1">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>357<span></div>
            </div>
            <ul class="news-card__hashtags news-card__hashtags--green">
              <li>#News</li>
              <li>#Food</li>
              <li>#Passengers</li>
              <li>#Aircrafts</li>
              <li>#Hungry</li>
            </ul>
            <h5 class="news-card__title">Food deliveries now on offer at Cleveland Hopkins</h5>
            <div class="news-card__text">Hungry passengers can now use their smart phones or digital devices to order their favourite food for pick-up or delivery at Cleveland Hopkins International Airport. The service, available via Fraport USA’s new GateWaiter Mobile Meal</div>
          </div>
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-2.jpg" alt="news-2">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>180<span></div>
            </div>
            <ul class="news-card__hashtags news-card__hashtags--violet">
              <li>#News</li>
              <li>#Airport</li>
              <li>#Passengers</li>
              <li>#Health</li>
            </ul>
            <h5 class="news-card__title">Airport Health Accreditation for Greenville-Spartanburg</h5>
            <div class="news-card__text">Greenville-Spartanburg International Airport (GSP) has become the first airport in South Carolina to be accredited in ACI’s Airport Health Accreditation programme. The Airport Health Accreditation recognises the airport’s commitment to prioritising health and safety measures</div>
          </div>
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-3.jpg" alt="news-3">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>27<span></div>
            </div>
            <ul class="news-card__hashtags">
              <li>#News</li>
              <li>#KoreanAirportsCorporation</li>
            </ul>
            <h5 class="news-card__title">KAC exporting its expertise internationally</h5>
            <div class="news-card__text">The first half of 2021 has been a busy one for Korea Airports Corporation (KAC), which has quietly gone about expanding in the international arena by undertaking a feasibility study for an airport development project</div>
          </div>
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-4.jpg" alt="news-4">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>100<span></div>
            </div>
            <ul class="news-card__hashtags news-card__hashtags--green">
              <li>#News</li>
              <li>#Food</li>
              <li>#Passengers</li>
              <li>#Whataburger</li>
              <li>#SanAntonioAirport</li>
            </ul>
            <h5 class="news-card__title">Whataburger to open outlet at San Antonio International Airport</h5>
            <div class="news-card__text">San Antonio based fast food operator, Whataburger, will join the list of F&B providers at San Antonio International Airport (SAT) when it opens an outlet at the Texas gateway early next year. Opened by F&B</div>
          </div>
        </div>
      </div>

      <div class="popular__cards">
        {% for card in simpleCards %}
        <div class="simple-card">
          <p class="simple-card__title js-cut-title">{{ card.title }}</p>
          <div class="simple-card__info">
            <a href="#" class="simple-card__more">Read more</a>
            <p class="simple-card__date">{{ card.date }}</p>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="popular__wrapper">
        <div class="popular__news js-mob-slider">
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-1.jpg" alt="news-1">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>357<span></div>
            </div>
            <ul class="news-card__hashtags news-card__hashtags--green">
              <li>#News</li>
              <li>#Food</li>
              <li>#Passengers</li>
              <li>#Aircrafts</li>
              <li>#Hungry</li>
            </ul>
            <h5 class="news-card__title">Food deliveries now on offer at Cleveland Hopkins</h5>
            <div class="news-card__text">Hungry passengers can now use their smart phones or digital devices to order their favourite food for pick-up or delivery at Cleveland Hopkins International Airport. The service, available via Fraport USA’s new GateWaiter Mobile Meal</div>
          </div>
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-2.jpg" alt="news-2">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>180<span></div>
            </div>
            <ul class="news-card__hashtags news-card__hashtags--violet">
              <li>#News</li>
              <li>#Airport</li>
              <li>#Passengers</li>
              <li>#Health</li>
            </ul>
            <h5 class="news-card__title">Airport Health Accreditation for Greenville-Spartanburg</h5>
            <div class="news-card__text">Greenville-Spartanburg International Airport (GSP) has become the first airport in South Carolina to be accredited in ACI’s Airport Health Accreditation programme. The Airport Health Accreditation recognises the airport’s commitment to prioritising health and safety measures</div>
          </div>
          <div class="news-card">
            <div class="news-card__pic">
              <img class="news-card__img" src="img/news-3.jpg" alt="news-3">
              <div class="news-card__watched">{{ mixins.icon('eye') }}<span>27<span></div>
            </div>
            <ul class="news-card__hashtags">
              <li>#News</li>
              <li>#KoreanAirportsCorporation</li>
            </ul>
            <h5 class="news-card__title">KAC exporting its expertise internationally</h5>
            <div class="news-card__text">The first half of 2021 has been a busy one for Korea Airports Corporation (KAC), which has quietly gone about expanding in the international arena by undertaking a feasibility study for an airport development project</div>
          </div>
        </div>
      </div>

       <div class="popular__cards">
        {% for card in simpleCards %}
          {% if loop.index < 5%}
            <div class="simple-card">
              <p class="simple-card__title js-cut-title">{{ card.title }}</p>
              <div class="simple-card__info">
                <a href="#" class="simple-card__more">Read more</a>
                <p class="simple-card__date">{{ card.date }}</p>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <div class="pagination">
      <a href="#" class="pagination__button">Previous</a>
      <ul class="pagination__list">
        <li class="pagination__number pagination__number--active"><a href="#">1</a></li>
        <li class="pagination__number"><a href="#">2</a></li>
        <li class="pagination__number"><a href="#">3</a></li>
        <li class="pagination__number"><a href="#">...</a></li>
        <li class="pagination__number"><a href="#">8</a></li>
        <li class="pagination__number"><a href="#">9</a></li>
        <li class="pagination__number"><a href="#">10</a></li>
      </ul>
      <a href="#" class="pagination__button">Next</a>
    </div>
  </div>

{% endblock %}