---
title: Blog
---
{% extends "layouts/_layout.html" %}

{% block content %}
  <div class="container container--blog">
    <h1 class="title-h1 mob-hidden">Blog</h1>
    <div class="blog-main-slider js-blog-main-slider">
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 1">
          <div class="blog-main-slider__text">
            It Might Be More Affordable than You Think to Fly to Your Destination
          </div>
        </div>
      </div>
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 2">
        </div>
      </div>
      <div>
        <div class="blog-main-slider__inner">
          <img class="blog-main-slider__img" src="img/slide-img.jpg" alt="slide 3">
        </div>
      </div>
    </div>
    <p class="title-h1 mob-visible" hidden>Blog</p>
    <section class="latest">
      <h3 class="title-h3 blog-section-title">Latest articles</h3>
      <div class="latest__wrapper">
        <div class="latest__cards">
          <div class="latest-card latest-card--big" style="background-image: url('img/latest-1.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Shell unveils new sustainable aviation fuels (SAF) ambition
                </h3>
                <p class="latest-card__date">21 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Aircrafts</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card--big" style="background-image: url('img/latest-2.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Munich Airport’s brewery turns beer into a gin-style spirit
                </h3>
                <p class="latest-card__date">20 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Retail</div>
                <div class="tag">Spirit</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-3.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Star Alliance airlines step up biometric identity programmes
                </h3>
                <p class="latest-card__date">20 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-4.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Transforming KIX
                </h3>
                <p class="latest-card__date">19 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">News</div>
                <div class="tag">Airports</div>
              </div>
            </div>
          </div>
          <div class="latest-card latest-card" style="background-image: url('img/latest-5.jpg')">
            <div class="latest-card__info">
              <div class="latest-card__text">
                <h3 class="title-h3 latest-card__title">
                  Why the aviation industry cannot revert to its pre-pandemic ways
                </h3>
                <p class="latest-card__date">19 September 2021</p>
              </div>
              <div class="tags">
                <div class="tag">Thoughts</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

{% endblock %}