<header class="header">
  <div class="header__inner">
    <a href="#" class="logo"><img class="logo__pic" src="img/at-flights-logo.png" alt="At Flights Logo"></a>
    <div class="header__actions">
      {% if bodyClass === 'body--article' %}
      <a href="#" class="header-link">Blog</a>
      {% endif %}
      <a href="#" class="sign-in">
        {{mixins.icon('sign-in')}}
        <span>Sign in</span>
      </a>
      <div class="theme-switcher">
        <button type="button" class="theme-switcher__button theme-switcher__button--light">{{ mixins.icon('sun') }}</button>
        <button type="button" class="theme-switcher__button theme-switcher__button--dark">{{ mixins.icon('moon') }}</button>
      </div>
    </div>
  </div>
</header>