.icon-moon {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-sign-in {
  width: 1em;
  height: 1em;
  fill: #254D9B;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: initial;
}
