.icon-arrow-left {
  width: 0.67em;
  height: 1em;
  fill: #000;
}
.icon-arrow-right {
  width: 0.67em;
  height: 1em;
  fill: #000;
}
.icon-downvote {
  width: 1em;
  height: 1em;
  fill: #FAFAFA;
}
.icon-eye {
  width: 1.6em;
  height: 1em;
  fill: #33669A;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: #4267B2;
}
.icon-form {
  width: 0.92em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 0.96em;
  height: 1em;
  fill: url(#a);
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: #0A66C2;
}
.icon-moon {
  width: 0.71em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.8em;
  height: 1em;
  fill: #BD081B;
}
.icon-sign-in {
  width: 1em;
  height: 1em;
  fill: #254D9B;
}
.icon-sun {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: #37AEE2;
}
.icon-twitter {
  width: 1.25em;
  height: 1em;
  fill: #1DA1F2;
}
.icon-upvote {
  width: 0.96em;
  height: 1em;
  fill: #FAFAFA;
}
.icon-whatsapp {
  width: 1em;
  height: 1em;
  fill: url(#a);
}
