.blog-main-slider
  margin: 60px 0 80px
  +r(500)
    margin: 0 -15px 50px
  &__inner
    display: flex
    align-items: flex-start
    min-height: 500px
    padding-left: 30px
    +r(1360)
      min-height: 400px
    +r(1200)
      min-height: 350px
    +r(1023)
      min-height: 360px
      padding-left: 15px
    +r(767)
      align-items: center
      justify-content: flex-end
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    object-position: 50% 50%
    object-fit: cover
    font-family: 'object-fit: cover; object-position: 50% 50%'
  &__text
    position: relative
    margin-top: 156px
    margin-left: auto
    padding: 20px 182px 20px 20px
    font-family: 'Oxygen', sans-serif
    font-size: rem(37)
    font-weight: 700
    line-height: 1.2
    color: #fafafa
    max-width: 860px
    background: linear-gradient(90deg, rgba(143, 138, 210, 0.7) 50.05%, rgba(255, 255, 255, 0) 100%)
    +r(1360)
      margin-top: 103px
      margin-bottom: 30px
      max-width: 670px
      padding-right: 44px
      font-size: rem(28)
    +r(767)
      margin: 0
    +r(500)
      max-width: 500px
      padding: 15px 23px 15px 15px
      font-size: rem(21)
      background: rgba($violet, 0.7)
  .slick-dots
    position: absolute
    bottom: 15px
    left: 0
    right: 0
    text-align: center
    li
      display: inline-block
      margin: 0 6px
      button
        font-size: 0
        width: 12px
        height: 12px
        background: $violet
        border-radius: 50%
      &.slick-active
        button
          width: 16px
          height: 16px
          background: $yellow
          border: 1px solid #33669A

.blog-section-title
  position: relative
  margin-bottom: 50px
  &:after
    content: ''
    display: block
    margin-top: 15px
    height: 2px
    background: $brand-dark-navy
    background: radial-gradient(61.7% 321.59% at 48% 50%, rgba(52, 84, 253, 0.4) 0%, rgba(101, 52, 206, 0.4) 100%, rgba(66, 51, 85, 0.4) 100%, rgba(0, 0, 0, 0.18) 100%), linear-gradient(95.11deg, #33669A 6.92%, #23C2C0 71.47%)

.latest
  margin: 50px 0 65px
  +r(1360)
    margin-bottom: 50px
  &__wrapper
    overflow: hidden
  &__cards
    display: flex
    flex-wrap: wrap
    margin: 0 -20px
    +r(1360)
      margin: 0 -10px
    +r(767)
      margin: 0 auto
      max-width: 550px

.latest-card
  display: flex
  align-items: flex-end
  position: relative
  margin: 0 20px 35px
  padding: 20px 20px 30px
  background-color: #c4c4c4
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  color: #fafafa
  border-radius: 5px
  min-height: 396px
  flex-basis: calc(33.33% - 40px)
  +r(1360)
    min-height: 308px
    margin: 0 10px 20px
    padding: 15px 15px 20px
    flex-basis: calc(33.33% - 20px)
  +r(1023)
    min-height: 280px
  +r(767)
    margin: 0 0 20px
    padding: 45px 10px 12px
    flex-basis: 100%
    min-height: 260px
  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgba($brand-dark-navy, 0.65)
    background: linear-gradient(358.93deg, rgba(7, 14, 65, 0.65) 0.87%, rgba(37, 77, 155, 0.6) 99.06%)
    background-size: cover
    background-position: 50% 50%
    border-radius: 5px
  &--big
    flex-basis: calc(50% - 40px)
    min-height: 396px
    &:before
      background: linear-gradient(358.93deg, rgba(7, 14, 65, 0.65) 0.87%, rgba(37, 77, 155, 0) 99.06%)
    +r(1360)
      flex-basis: calc(50% - 20px)
    +r(1200)
      min-height: 260px
    +r(767)
      flex-basis: 100%
      &:before
        background: linear-gradient(358.93deg, rgba(7, 14, 65, 0.65) 0.87%, rgba(37, 77, 155, 0.6) 99.06%)
  &__info
    position: relative
    width: 100%
    +r(767)
      display: flex
      flex-direction: column
      height: 100%
      width: 100%
      justify-content: space-between
  &__title
    max-width: 645px
    margin-bottom: 4px
    +r(1360)
      font-size: rem(25)
    +r(767)
      font-size: rem(21)
  &__date
    margin-top: 10px
    float: left
    font-size: rem(20)
    font-weight: 300
    +r(1360)
      font-size: rem(18)
    +r(767)
      float: none
      margin-top: 0
      font-size: rem(16)

.tags
  margin-left: 20px
  font-size: 0
  float: right
  +clr
  +r(767)
    align-self: flex-end
    float: none
    margin-left: 0

.tag
  display: inline-block
  margin: 10px 15px 10px 0
  padding: 4px 8px 6px
  background: #2BB826
  color: #fff
  box-shadow: 0px 2px 5px rgba(33, 36, 44, 0.5)
  border-radius: 3px
  font-size: rem(20)
  font-weight: 300
  line-height: 1
  &:last-child
    margin-right: 0
  &.tag--transparent
    margin: 10px 12px 5px 0
    padding: 4px 8px 7px
    box-shadow: none
    background: transparent
    color: $brand-dark-blue
    border: 1px solid $brand-dark-blue
  +r(1360)
    font-size: rem(18)
    &.tag--transparent
      font-size: rem(16)
  +r(767)
    font-size: rem(16)
    &.tag--transparent
      margin-bottom: 2.5px
      margin-right: 10px

.popular
  &__wrapper
    +r(767)
      max-width: 550px
      margin: 0 auto 60px
  &__cards
    display: flex
    flex-wrap: wrap
    margin: 0 -20px 30px
    +r(1360)
      margin: 0 -10px 50px
    +r(500)
      margin: 0
  &__news
    display: flex
    margin: 0 -20px 55px
    +r(1360)
      margin: 0 -10px 45px
    +r(1200)
      flex-wrap: wrap
    +r(767)
      display: block
      margin: 0
  .slick-dots
    margin: 10px auto 0
    text-align: center
    font-size: 0
    li
      display: inline-block
      margin: 0 6px
      button
        font-size: 0
        width: 12px
        height: 12px
        background: $violet
        border-radius: 50%
      &.slick-active
        button
          width: 16px
          height: 16px
          background: $yellow
          border: 1px solid #33669A

.news-card
  flex-basis: 33.33%
  max-width: 473px
  margin: 0 20px 15px
  &:nth-last-child(n+4),
  &:nth-last-child(n+4) ~ .news-card
    max-width: 345px
    flex-basis: 25%
    .news-card__img
      max-height: initial
  &:hover
    .news-card__pic
      &:after
        opacity: 1
        visibility: visible
    .news-card__watched
      opacity: 1
  +r(1360)
    margin: 0 10px 15px
  +r(1200)
    max-width: initial
    flex-basis: calc(50% - 20px)
    margin: 0 10px 45px
    &:nth-last-child(n+4),
    &:nth-last-child(n+4) ~ .news-card
      flex-basis: calc(50% - 20px)
      max-width: initial
  +r(767)
    margin: 0
    flex-basis: 100%
    padding: 5px
  &__pic
    position: relative
    margin-bottom: 11px
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      box-shadow: 0px 4px 5px 0px rgba(37, 77, 155, 0.25), 0px 4px 10px 0px rgba(37, 77, 155, 0.1)
      opacity: 0
      visibility: hidden
      transition: all 0.2s ease-in
      border-radius: 5px
      +r(767)
        opacity: 1
        visibility: visible
  &__img
    display: block
    width: 100%
    max-height: 250px
    border-radius: 5px
    object-fit: cover
    object-position: center center
    +r(1200)
      max-height: 240px
      min-height: 180px
  &__watched
    position: absolute
    display: flex
    align-items: center
    left: 0
    bottom: 0
    padding: 5px 8px
    font-family: 'Oxygen', sans-serif
    font-size: rem(18)
    font-weight: 700
    color: $brand-dark-navy
    background: rgba(255, 255, 255, 0.6)
    border: 1px solid rgba(170, 170, 170, 0.25)
    border-radius: 0 5px 0 5px
    opacity: 0
    +nosel
    transition: opacity 0.2s ease-in
    .icon
      font-size: 9px
      margin-right: 5px
    +r(767)
      opacity: 1
  &__hashtags
    font-size: 0
    margin: 0 -5px 11px
    color: $brand-dark-blue
    li
      display: inline-block
      font-size: rem(16)
      line-height: 1.5
      margin: 0 5px
    &--green
      color: $green
    &--violet
      color: $violet
  &__title
    margin-bottom: 8px
    font-size: rem(20)
    font-family: 'Oxygen', sans-serif
    font-weight: 700
    line-height: 1.2
    +r(1200)
      font-weight: rem(19)
    +r(767)
      font-size: rem(18)
  &__text
    position: relative
    height: 63px
    overflow: hidden
    color: $brand-gray
    line-height: 1.3
    &:after
      content: ''
      position: absolute
      left: 0
      right: 0
      bottom: 0
      height: 21px
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%)


.simple-card
  flex-basis: calc(25% - 40px)
  margin: 0 20px 40px
  padding: 11px 15px 16px
  background: #FFFFFF
  box-shadow: 0px 1px 3px 1px rgba(66, 66, 66, 0.16), 0px 1px 1px rgba(66, 66, 66, 0.08)
  border-radius: 3px
  line-height: 1.2
  +r(1360)
    flex-basis: calc(25% - 20px)
    margin: 0 10px 20px
  +r(1023)
    padding: 11px 10px 16px
    flex-basis: calc(50% - 20px)
  +r(500)
    flex-basis: 100%
    margin: 0 0 20px
  &__title
    height: 85px
    margin-bottom: 23px
    overflow: hidden
    font-family: 'Oxygen', sans-serif
    font-weight: 700
    font-size: rem(18)
    +r(1200)
      height: 63px
      margin-bottom: 7px
    +r(500)
      height: auto
      max-height: 85px
  &__info
    display: flex
    justify-content: space-between
    +r(1200)
      flex-direction: column
  &__more
    position: relative
    text-decoration: none
    color: $violet
    border-bottom: 1px solid $violet
    padding-bottom: 5px
    transition: all 0.15s linear
    &:hover
      border-bottom-color: transparent
      color: darken($violet, 10%)
    +r(1200)
      align-self: flex-end
      font-size: rem(15)
  &__date
    color: $brand-gray
    font-weight: 300
    +r(1200)
      order: -1
      margin-bottom: 15px
      font-size: rem(14)

.pagination
  display: flex
  justify-content: center
  align-items: center
  margin-top: 50px
  +r(767)
    display: block
    text-align: center
  &__list
    display: flex
    margin: 0 37px
    flex-wrap: wrap
    max-width: 500px
    +r(767)
      justify-content: center
      width: 100%
      margin: 0 auto 15px
  &__button
    display: inline-block
    min-width: 97px
    margin-bottom: 10px
    padding: 11px 5px 13px
    text-decoration: none
    text-align: center
    background: #EAEAEA
    color: $brand-dark-navy
    font-weight: 500
    line-height: 1
    &:hover
      background: $brand-dark-navy
      color: #fafafa
    +r(767)
      margin-bottom: 20px
  &__number
    margin: 0 5px 10px
    a
      display: flex
      justify-content: center
      align-items: center
      background: #eaeaea
      color: $brand-dark-navy
      text-decoration: none
      line-height: 1.2
      width: 35px
      height: 35px
      transition: all 0.15s linear
    &:hover,
    &--active
      a
        background: $brand-dark-navy
        color: #fafafa
    +r(767)
      margin: 0 3px 10px