body
  font-family: 'Noto Sans JP', sans-serif
  font-weight: 400

.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5
  font-family: 'Oxygen', sans-serif
  font-weight: 700

.title-h1
  text-align: center
  font-size: rem(45)
  line-height: 1.1
  +r(1360)
    font-size: rem(40)
  +r(1023)
    font-size: rem(35)

.title-h2
  font-size: rem(39)
  line-height: 1.2
  +r(1360)
    font-size: rem(34)
  +r(1023)
    font-size: rem(29)

.title-h3
  font-size: rem(31)
  line-height: 1.2
  +r(1360)
    font-size: rem(26)
  +r(1023)
    font-size: rem(24)

.title-h4
  font-size: rem(25)
  line-height: 1.2
  +r(1360)
    font-size: rem(20)

.title-h4
  font-size: rem(20)
  line-height: 1.2
  +r(1360)
    font-size: rem(18)